<%= link_to 'All Patients', patients_path %>

<br><br>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @patient.description %>
</p>

<td><%= link_to 'Edit', edit_patient_path %></td>
