<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congrats, <%= @patient.first_name %>!</h1>
    <p>
      You have successfully completed your request for a medical marijuana certification appointment with Illinois Compassion.<br/>
    </p>
    <p>
      Look out for updates over the coming weeks and months as Illinois legislators finalize the Compassionate Use of Medical Cannabis Pilot Program Act.
    </p>
    <p>Thanks for reserving your spot and have a great day!</p>
    <p>-Illinois Compassion Team</p>
  </body>
</html>